@import './normalize.scss';
@import './fonts.scss';


body {
  background-color: #f3f2f2;
  font-size: 16px;
}

a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
  &:link, &:visited{
    color: inherit;
  }
}

ol, ul, dl, li {
  margin-top: unset;
  margin-bottom: unset;
  padding-inline-start: 0;
  list-style: none; }

.container {
  max-width: 1550px;
  margin: 0 auto;
}

.header{
  &__nav{
    background-color: #00aa4b;
  }
  &__search{
    background-color: #e8e7e7;
  }
  &__categories{
    background-color: #ffffff;
  }
}

.nav{
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__list:first-child {
    flex-basis: 25%;
    padding: 0 28px 0 0;
  }
  &__list:nth-child(2){
    flex-basis: 39%;
    border-left: 1px solid #68be7e;
    border-right: 1px solid #68be7e;
    padding: 0 29px;
  }
  &__list:last-child {
    flex-basis: 36%;
    padding: 0 0 0 28px;
  }
  &__item{
    font-family: 'MyriadPro', serif;
    font-size: 1rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    &:hover{
      color: #e4f5e8;
    }
    img{
      display: inline-block;
      vertical-align: middle;
      max-width: 20px;
      padding-right: 8px;
    }
  }
  &__link:first-letter{
    text-transform: uppercase;
  }
}

.search{
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  &__logo{
    img {
      max-width: 221px;
    }
  }
  &__form{
    width: 885px;
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  &__categories{
    position: relative;
  }
  &__categories-text{
    padding: 0 25px 0 17px;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid  #e8e7e7;
    background-color: #f1f1f1;
    font-family: 'MyriadPro', serif;
    color: #777777;
    font-size: 1rem;
    line-height: 35px;
  }
  &__categories-text:after{
    content: '';
    position: absolute;
    bottom: 6px;
    right: 6px;
    border: 8px solid transparent;
    border-top: 8px solid #3c3c3c;
  }
  &__area{
    width: 100%;
    input {
      height: 35px;
      width: 100%;
      padding: 0 10px;
      outline: none;
      border: none;
    }
  }
  &__button{
    button {
      width: 49px;
      height: 35px;
      background-color: #faad2d;
      border:none;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    button:hover {
      background-color: #f8be68;
    }
    img{
      max-width: 21px;
    }
  }
  //&__provider{
  //  display: flex;
  //  align-items: center;
  //}
  //&__provider-text {
  //  height: 29px;
  //  width: 95px;
  //  color: #777777;
  //  font-size: 14px;
  //  line-height: 1.14;
  //  font-family: 'MyriadProExt-LightSemiExt', serif;
  //}
  //img {
  //  vertical-align: middle;
  //  margin-right: 6px;
  //  max-width: 35px;
  //}
  //&__cart{
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  min-width: 125px;
  //  height: 65px;
  //  //padding: 0 5px;
  //  //&-cart:hover {
  //  //  text-decoration: none;
  //  //  background-color: #ea8b00;
  //  //  span {
  //  //    color:#fff;
  //  //  }
  //}
  //&__cart-wrap{
  //  position: relative;
  //  //margin-right: 12px;
  //  img{
  //    width: 29px;
  //  }
  //}
  //&__cart-count{
  //  position: absolute;
  //  top: -8px;
  //  left: 10px;
  //  color: #ff8c00;
  //  font-size: 14px;
  //  font-weight: 400;
  //  line-height: 10px;
  //  text-align: center;
  //}
  //&__icon-cart{
  //
  //}
  //&__cart-sum{
  //  //align-items: left;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: center;
  //}
  //&__cart-text{
  //  color: #777777;
  //  font-size: 14px;
  //  font-weight: 400;
  //  line-height: normal;
  //}
  //&__cart-cost{
  //  font-weight: 400;
  //  font-size: 16px;
  //  line-height: 18px;
  //  color: #1d1d1d;
  //}
}





