@import './libs/normalize.scss';
@import "./libs/fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f2f2;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:link, &:visited {
    color: inherit;
  }
}

ul, li {
  list-style-type: none;
}

.container {
   width: 1547px;
   margin: 0 auto;
 }

.container2 {
  width: 1412px;
  margin: 0 auto;
}



@import "./fragments/header-nav.scss";
@import "./fragments/header-search.scss";
@import "./fragments/header-categories.scss";

.main {
  background-color: #f4f2f2;
}

@import "./fragments/main-offer";
@import "./fragments/main-brand";
@import "./fragments/main-news";
@import "./fragments/main-recommend";
@import "./fragments/main-info";

@import "./fragments/footer-contact";
@import "./fragments/footer-info";










