.header-categories {
  background-color: #ffffff;
  .categories {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__item-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__image {
      width: 57px;

      img {
        max-width: 100%;
      }
    }

    &__name {
      font-size: 16px;
      color: #343434;
      font-family: 'MyriadPro', serif;
      display: block;
    }
  }
}
